<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div style="border: solid 1px black;">
                <p>child Component</p>
                <br>
                First Name: {{ firstName }}
                <br>
                Last Name: {{ lastName }}
                <br>
                Siblings:
                <br>
                <span *ngFor="let sibling of siblings"> 
                    {{ sibling }} <br>.
                </span>
                <h2>Count: {{count}}</h2>
<button class="btn btn-success" (click)="increment()">+</button>
<button class="btn btn-warning" (click)="decrement()">-</button>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<hr>
  <div style="border: solid 1px black;">
    <p>child Component</p>
    <br>
    First Name: {{ firstName }}
    <br>
    Last Name: {{ lastName }}
    <br>
    Siblings:
    <br>
    <span *ngFor="let sibling of siblings"> 
        {{ sibling }} <br>.
    </span>
</div>
